run_dct
testcheck
lib/
sandbox/
doc/
*.html
readme.md
test_l1qc
bench
BregmanData/

build/
interfaces/*.o
interfaces/*.mexa64
test_data/
*.in
Makefile
GTAGS
GPATH
GRTAGS
ltximg/

test-driver
*.log
*.trs
test_l1c
*.dll

config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
.deps
aclocal.m4
ar-lib
autom4te.cache/
stamp-h1
*.o
*.a
*.so
*.la
*.mexa64
*.lo
*.json
*.m4
*.pyc
.libs
*.so.0*
l1qc_dct_c
ltmain.sh
libtool
\#*
.\#*
compile
missing
l1qc_dct_c_fftw
.gdb_history
CMakeLists.txt
errors.log
build-cmake/
