run_dct
testcheck
lib/
sandbox/
doc/
*.html
readme.md
test_l1qc
bench
BregmanData/

build/
interfaces/*.o
interfaces/*.mexa64
test_data/
*.in
Makefile
GTAGS
GPATH
GRTAGS
ltximg/

config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
.deps
aclocal.m4
ar-lib
autom4te.cache/
stamp-h1
*.o
*.a
compile
missing
